:root {
    --fonte: "Poppins";
}

body {
    background-color: #6F4E37;
}

.conteudo {
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.pergunta {
    font-family: var(--fonte);
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0.5em;
}

.caixa {
    display: block;
    text-align: center;
    margin: 0.5em;
    margin: 0.5em 0 0.5em 0;
    padding: 0.1em 0;
}

video {
    border: 10px solid #FFFFFF;
    padding: 5px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 3px;
}